body {
  color: white;
  stroke: white;
  fill: white;
  fill-opacity: .25;
  stroke-opacity: .2;
  background-color: black;
}

.tooltip-inner {
  background-color: white;
  color: #333;
  border: 1px solid lightslategray;
}
